* {
    font-family: Helvetica, Arial, sans-serif;
    line-height: 1.5em;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --Color1: #e00c0c;
    --Color2: #f57803;
    --Color3: #00aa8e;
    --Color4: #66ce06;
    --Color5: #1f29b6;
    --Color6: #a227b3;
    
    --ColorDefault: #666;
}

.Color1 {
    background: var(--Color1);
}

.Color2 {
    background: var(--Color2);
}

.Color3 {
    background: var(--Color3);
}

.Color4 {
    background: var(--Color4);
}

.Color5 {
    background: var(--Color5);
}

.Color6 {
    background: var(--Color6);
}

.ColorDefault {
	background-color: var(--ColorDefault);
}

html {
    font-size: 16px;
}

header {
	position: fixed;
	top: 0;
    width: 100%;
    height: 3.2rem;
    margin: 0 auto;
    color: #fff;
    text-align: center;
    padding: 0.2rem;
    z-index: 200;
}

#prev {
    cursor: pointer;
    position: fixed;
    text-decoration: none;
    font-size: 1.8rem;
    margin-top: 0.1rem;
    color: #fff;
    top: 0.2rem;
    left: 1rem;
}

h1 {
    font-size: 1.8rem;
    margin-top: 0.1rem;
}

#milestones {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, Arial, sans-serif;
    font-size: 1.8rem;
    margin-top: 0.1rem;
    font-weight: 600;
    letter-spacing: 1px;
}

h3 {
    font-size: 1.7rem;
	color: #fff;
}

#colorLine {
    height: 0.4rem;
    width: 100%;
}

.thinLine {
    height: 1px;
    width: 100%;
    background-color: #ddd;
}

#kidsWhiteBox {
	background-color: #fff;
	height: 3.3rem;
}

#kidList {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    margin: 1.5rem auto;
    grid-column-gap: 1.8rem;
    grid-row-gap: 1.8rem;
    max-width: 96vh;
    width: 66%;
}

#kidList a {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 0.4rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 2rem;
    text-decoration: none;
    border-radius: 1rem;
    cursor: pointer;
}

#kidList a img {
    margin-top: 0.3rem;
    width: 100%;
    border: 1px solid #333;
}

#addNewKid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    margin: 1.5rem auto;
    grid-column-gap: 1.8rem;
    grid-row-gap: 1.8rem;
    max-width: 96vh;
    width: 66%;
}

#addNewKid a {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 0.4rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 2rem;
    text-decoration: none;
    border-radius: 1rem;
    cursor: pointer;  
}

#whiteBox {
	background-color: #fff;
	height: 3.3rem;
}

#imageContainer {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    margin: 0.5rem auto;
    grid-column-gap: 1.8rem;
    grid-row-gap: 0.5rem;
    width: 100%;
}

.imageDiv {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-row-gap: 0.5rem;
}
#imageContainer figure {
    position: relative;
}

.koalaDiv {
    display: flex;
    flex-direction: column;
    align-content: center;
}

#koalaH3 {
    font-size: 1.5rem;
    color: #aaa;
    text-align: center;
}

#sadKoala {
    margin: 0 auto;
    margin-top: 9rem;
    margin-bottom: 1rem;
    border-radius: 50%;
}

.kidImages {
    margin-top: 0.5rem;
    width: 100%;
}

.imageDeleteButton {
	display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 1.1rem;
    opacity: 0.7;
    cursor: pointer;
    position: absolute;
    top: 2.4rem;
    left: 0.6rem;
    text-shadow: 0 0 3px #fff, 0 0 3px #fff;
}

#imageContainer figcaption {
    margin-left: 0.8rem;
    line-height: 1.3rem;
    margin-top: 0.1rem;
    margin-bottom: 0.17rem;
}

.timeStamp {
    margin-left: 0.8rem;
    color: #bbb;
}

.commentsDiv {
    display: flex;
    flex-direction: column;
    background-color: #eee;
    padding: 0.5rem 1.2rem;
    margin-bottom: 0.5rem;
    margin-left: 2rem;
    margin-right: 1rem;
    border-radius: 0.7rem;
    position: relative;
}

.commentAuthor {
    font-weight: bold;
}

.commentText {
    line-height: 1.3rem;
    margin-top: 0.1rem;
    margin-bottom: 0.18rem;
}

.commentDeleteButton {
	display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 0.8rem;
    cursor: pointer;
    position: absolute;
    top: 0.4rem;
    right: 0.4rem;
    padding: 0 0.27rem 0 0.3rem;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.7);
}

.buttonDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.commentButton {
    background-color: #eee;
    padding: 0.3rem 1rem 0.3rem 0.7rem;
    border-radius: 1rem;
    cursor: pointer;
}

.commentForm {
    display: none;
    flex-direction: column;
    align-items: center;
    width: 90%;
}

.commentTextInput {
    font-family: inherit;
    font-size: 1rem;
    width: 100%;
    padding: 5px 10px;
    border: none;
}

#newkid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    margin: 0.5rem auto;
    grid-column-gap: 1.8rem;
    grid-row-gap: 0.5rem;
    width: 100%;
}

.hCountDiv {
    display: grid;
    grid-template-columns: 1fr 1fr;
    

}

.hCountDiv span {
    text-align: right;
    margin-right: 0.5rem;
}

.dateLikeDiv {
    display: flex;
    justify-content: space-between;
}


.heartIcon {
    height: 1.6em;
    margin-right: 0.8rem;
}


#menuIcon {
    display: none;
    position: fixed;
    top: 0.35rem;
    right: 0.8rem;
    cursor: pointer;
    z-index: 350;
}

.bar1, .bar2, .bar3 {
    width: 30px;
    height: 4px;
    background-color: #fff;
    margin: 6px 0;
    transition: 0.4s;
}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-7px, 6px) ;
    transform: rotate(-45deg) translate(-7px, 6px) ;
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
    transform: rotate(45deg) translate(-8px, -8px) ;
}

#menuLine {
    height: 0.3rem;
    width: 100%;
}

#navMenu {
    display: block;
    position: fixed;
    top: 3.2rem;
    right: 0;
    padding-right: 0.5rem;
    z-index: 199;
}

#navMenu a {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.75rem 0.9rem;
    background-color: #ddd;
    color: #222;
    text-decoration: none;
    font-size: 1rem;
    cursor: pointer;
}

#lastNavItem {
    border-radius: 0 0 0.7rem 0.7rem;
}

.slider {
	overflow-y: hidden;
	max-height: 0; /* approximate max height */

	transition-property: all;
	transition-duration: 0.4s;
	transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}

.slider.open {
	max-height: 13rem;
}

#newPhotoContainer {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    margin: 1.5rem 1.5rem;
}

#fileBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #eee;
    padding: 1.5rem 1rem;
    border-radius: 1rem;
}

#captionDiv {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    width: 100%;
    font-size: 1.2rem;
}

#captionDiv textarea {
    padding: 5px 10px;
    font-size: 1rem;
}


#buttonContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
}

#buttonContainer input[type=submit] {
    font-size: 1rem;
    background-color: #eee;
    border: none;
    text-decoration: none;
    padding: 0.5rem 1.3rem 0.5rem 1.3rem;
    border-radius: 1.5rem;
    cursor: pointer;
}

#statusSubmitButton {
    font-size: 1rem;
    background-color: #eee;
    border: none;
    text-decoration: none;
    padding: 0.5rem 1.3rem 0.5rem 1.3rem;
    border-radius: 1.5rem;
    cursor: pointer;
}

.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.inputfile + label {
    font-size: 1.2rem;
    font-weight: 700;
    padding: 0.5rem 1rem;
    color: white;
    background-color: black;
    display: inline-block;
    cursor: pointer;
}

/* .inputfile:focus + label,
.inputfile + label:hover {
    background-color: blue;
} */

.inputfile:focus + label {
	outline: 1px dotted #000;
	outline: -webkit-focus-ring-color auto 5px;
}

/* Delete Kid Channel Modal */

.modalContainer {
    display: none;
    flex-direction: row;
    align-items: center;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: black;
    background-color: rgba(0,0,0,0.4);
}

.modalContent {
    display: flex;
    flex-direction: column;
    background-color: white;
    margin: 0 auto;
    width: 80%;
    padding: 1rem 1rem;
    border-radius: 0.7rem;
}

#deleteKidChannelModalContent{
    display: none;
}

#deleteKidChannelButtonsContainer{
    display: flex;
    justify-content: space-around;
    margin-top: 1rem;
}

#deleteQuestion {
font-size: 1.2rem;
font-weight: bold;
text-align: center;
}

.deleteChannelButton{
    display: flex;
    justify-content: center;    
    background-color: #eee;
    padding: 0.5rem 1.3rem 0.5rem 1.3rem;
    border-radius: 1.5rem;
    cursor: pointer;
}

