<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Image Upload</title>

  <link rel="stylesheet" type="text/css" href="./css/style.css">
</head>

<body>
  <div th:each="kid: ${kids}">
    <header th:class="@{'Color' + ${kid.colorNum}}">
      <h1>Post New Photo</h1>
      <a id="prev" th:href="@{/kid(id=${kid.id})}">&#10094;</a>
    </header>

    <main>
      <section id="whiteBox"></section>
      <div id="newPhotoContainer">
        <form method="POST" action="/uploadImage" enctype="multipart/form-data">
          <div id="fileBox">
            <input type="file" name="file" id="file" class="inputfile" />
            <label for="file">
              <span>Choose a file...</span>
            </label>
            <div id="captionDiv">
              <label for="captionInput">Caption:</label>
              <textarea id="captionInput" name="caption" rows="2" maxlength="140" placeholder="Type your caption here"></textarea>
            </div>
          </div>

          <input type="hidden" name="childName" th:value="${kid.name}" />

          <div id="buttonContainer">
            <input type="submit" value="Post Photo">
          </div>
        </form>
        <span th:if="${flashMessage}" th:text="${flashMessage}">
          <!-- here would be a message with a result of processing -->
        </span>
      </div>
    </main>
  </div>
  <script src="./js/upload-image.js"></script>
</body>

</html>