<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Create Status</title>

  <link rel="stylesheet" type="text/css" href="./css/addStatus.css">
</head>

<body>
  <div th:each="kid: ${kids}">
    <header th:id="@{'Color' + ${kid.colorNum}}">
      <h1>Post New Status</h1>
      <a id="prev" th:href="@{/kid(id=${kid.id})}">&#10094;</a>
    </header>

    <main>
      <section id="whiteBox"></section>
      <span id="kidId" style="display:none" th:text="${kid.id}"></span>

      <canvas id="generatedCanvas" width="480" height="270"></canvas>

      <div id="backgroundColorInputContainer">
        <p>Select a background color:</p>

        <div>
          <form id="backgroundColorInputForm">
            <!-- <input type="radio" id="colorChoice1" name="backgroundColor" value="white" checked>
            <label for="contactChoice1">White</label>

            <input type="radio" id="colorChoice2" name="backgroundColor" value="black">
            <label for="contactChoice1">Black</label> -->

            <div id="colorChoices">
                <label class="container"> White
                    <input type="radio" checked="checked" name="radio" value="white">
                    <span class="checkmark" id="Color7"></span>
                </label>
                <label class="container"> Black
                    <input type="radio" name="radio" value="black">
                    <span class="checkmark" id="Color8"></span>
                </label>
                <label class="container"> Red
                    <input type="radio" name="radio" value="red">
                    <span class="checkmark" id="Color1"></span>
                </label>
                <label class="container"> Orange
                    <input type="radio" name="radio" value="orange">
                    <span class="checkmark" id="Color2"></span>
                </label>
                <label class="container"> Yellow
                    <input type="radio" name="radio" value="yellow">
                    <span class="checkmark" id="Color9"></span>
                </label>
                <label class="container"> Green
                    <input type="radio" name="radio" value="green">
                    <span class="checkmark" id="Color4"></span>
                </label>
                <label class="container"> Blue
                    <input type="radio" name="radio" value="blue">
                    <span class="checkmark" id="Color5"></span>
                </label>
                <label class="container"> Purple
                    <input type="radio" name="radio" value="purple">
                    <span class="checkmark" id="Color6"></span>
                </label>
            </div>

            <!-- TODO: Add other color choices. Possibly make the buttons the color of the background themselves -->

          </form>
          <!-- <pre id="colorSelection"></pre> -->

        </div>

      </div>

      <div id="textInput">
        <!-- TODO: Get rid of "maxlength"/change to 255(?) after incorporating text wrapping -->
        <input type="text" id="inputStatusText" placeholder="Type status here">
        <Button id="addStatusText">Add</Button>
      </div>

      <div id="submitStatus">
        <button id="submitStatusButton">Submit Status Update</button>
      </div>
    </main>
  </div>
  <script src="./js/add-status.js"></script>
</body>

</html>