<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Create Status</title>
    <script
        src="https://code.jquery.com/jquery-3.2.1.min.js"
        integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
        crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="./css/style.css">
</head>

<body>
    <div th:each="kid: ${kids}">
        <header th:class="@{'Color' + ${kid.colorNum}}">
            <h1>Post New Status</h1>
            <a id="prev" th:href="@{/kid(id=${kid.id})}">&#10094;</a>
        </header>

        <main>
            <section id="whiteBox"></section>
            <canvas id="newCanvas" width="480" height="270"></canvas>

            <span id="kidId" style="display:none" th:text="${kid.id}"></span>
            <div id="buttonContainer">
                <a id="statusSubmitButton">Post Status</a>
            </div>






        </main>
    </div>
    <script src="./js/upload-status.js"></script>
    
</body>

</html>