<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<!--<link rel="stylesheet" type="text/css" media="screen"
	href="styles/main.css" />-->
<title>Scrapbook - Editor Panel</title>
</head>
<body>

	<main>
	<div>
		<h2>Editor Panel</h2>
		<!--<a th:href="@{/editor/logout}">Log Out</a>-->
	</div>

	<h3></h3>

	<form>
		<h3>New Kid</h3>
		<input type="text" name="name" placeholder="Kid Name" />

	</form>

	<form>
		<h3>New Kid</h3>

	</form>

	<section></section>

	</main>



</body>
</html>