<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Kid Channel</title>

    <link rel="stylesheet" type="text/css" href="./css/style.css">
</head>

<body>
    <div th:each="kid: ${kids}">
        <header th:class="@{'Color' + ${kid.colorNum}}">
            <h1 th:text="${kid.name}"></h1>
            <a id="prev" href="/kids">&#10094;</a>
        </header>
        <main>
            <span id="kidId" style="display:none" th:text="${kid.id}"></span>
            <span id="kidColorClass" style="display:none" th:text="@{'Color' + ${kid.colorNum}}"></span>
            <section id="whiteBox"></section>
            <section id="imageContainer"></section>
        </main>

        <div id="menuIcon">
            <div class="bar1"></div>
            <div class="bar2"></div>
            <div class="bar3"></div>
        </div>
        <div id="navMenu" class="slider">
            <a th:href="@{/add-image(id=${kid.id})}">
                <div>Post New Photo</div>
            </a>
            <div th:class="@{'Color' + ${kid.colorNum}}" id="menuLine"></div>
            <a th:href="@{/add-status-update(id=${kid.id})}">
                <div>Post New Status</div>
            </a>
            <div th:class="@{'Color' + ${kid.colorNum}}" id="menuLine"></div>
            <a th:href="@{/edit-channel(id=${kid.id})}">
                <div>Edit Channel</div>
            </a>
            <div th:class="@{'Color' + ${kid.colorNum}}" id="menuLine"></div>
            <a th:href="@{/delete-kid(id=${kid.id})}" id="lastNavItem">
                <div>Delete Channel</div>
            </a>
        </div>
    </div>
    <script src="./js/one-kid-viewer.js"></script>
</body>

</html>