<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>A Single Message</title>
</head>

<body>
    <h1>A Single Message</h1>

    <div th:each="message: ${messages}">
        <h2 th:text="${message.messageTimestamp}"></h2>
        <p th:text="${message.messageContent}"></p>
    </div>

    <footer>
        <a href="/messages"> Back to Messages Home</a>
    </footer>

</body>

</html>