<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Add Child</title>

    <link rel="stylesheet" type="text/css" href="./css/newKid.css">
</head>

<body>

    <header class="colorDefault">
        <h1>Add New Child</h1>
        <a id="prev" href="/kids">&#10094;</a>
    </header>

    <main>
        <section id="whiteBox"></section>
        <section class="newChildContainer">
            <img src="./img/newKidLogo.jpg" style="width:80px;height:80px;">
            <form method="POST" th:action="@{/add-new-channel}" id="add-new-channel">
                <div id="nameBox">
                    <h2>Enter First Name: </h2>
                    <input type="text" name="kidName" placeholder="Enter Child's Name">
                </div>
                <div id="colorBox">
                    <h2>Choose favorite color: </h2>
                    <div id="colorChoices">
                        <label class="container"> Red
                            <input type="radio" checked="checked" name="radio">
                            <span class="checkmark" id="colorRed"></span>
                        </label>
                        <label class="container"> Orange
                            <input type="radio" name="radio">
                            <span class="checkmark" id="colorOrange"></span>
                        </label>
                        <label class="container"> Yellow
                            <input type="radio" name="radio">
                            <span class="checkmark" id="colorYellow"></span>
                        </label>
                        <label class="container"> Green
                            <input type="radio" name="radio">
                            <span class="checkmark" id="colorGreen"></span>
                        </label>
                        <label class="container"> Blue
                            <input type="radio" name="radio">
                            <span class="checkmark" id="colorBlue"></span>
                        </label>
                        <label class="container"> Purple
                            <input type="radio" name="radio">
                            <span class="checkmark" id="colorPurple"></span>
                        </label>
                    </div>


                </div>
                <div id="picBox">
                    <h2>Upload profile picture: </h2>
                    <form method="POST" action="/uploadImage" enctype="multipart/form-data">
                        <div id="fileBox">
                            <input type="file" name="file" id="file" class="inputfile" />
                        </div>


                    </form>
        </section>
        <div id="buttonContainer">
            <input id="submitButton" type="submit">
        </div>
    </main>
</body>
<script src="./js/upload-profilepic.js"></script>

</html>

